# Duplikasi Data

URL Sumber: https://www.geeksforgeeks.org/data-analysis/data-duplication-removal-from-dataset-using-python/ <br>
Tujuan : Mmebuktikan bahwa kita jangan selalu percaya pada function "duplikasi data"

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("Stunting_Dataset.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender         10000 non-null  object
 1   Age            10000 non-null  int64
 2   Birth Weight   10000 non-null  float64
 3   Birth Length   10000 non-null  int64
 4   Body Weight    10000 non-null  float64
 5   Body Length    10000 non-null  float64
 6   Breastfeeding  10000 non-null  object
 7   Stunting       10000 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 625.1+ KB

.all()

.any()

In [10]:
df.duplicated().all().sum()

np.int64(0)

In [14]:
df.duplicated().sum()

np.int64(2427)

In [4]:
duplicated = df.duplicated()
data_copy = df.copy()

In [6]:
duplicated

0       False
1       False
2       False
3       False
4       False
        ...
9995     True
9996    False
9997    False
9998     True
9999    False
Length: 10000, dtype: bool

In [5]:
data_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Gender         10000 non-null  object
 1   Age            10000 non-null  int64
 2   Birth Weight   10000 non-null  float64
 3   Birth Length   10000 non-null  int64
 4   Body Weight    10000 non-null  float64
 5   Body Length    10000 non-null  float64
 6   Breastfeeding  10000 non-null  object
 7   Stunting       10000 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 625.1+ KB

In [7]:
data_sementara = pd.concat([data_copy, duplicated], axis=1)

In [8]:
data_sementara.head()

,Gender,Age,Birth Weight,Birth Length,Body Weight,Body Length,Breastfeeding,Stunting,0
0,Male,17,3.0,49,10.0,72.2,No,No,False
1,Female,11,2.9,49,2.9,65.0,No,Yes,False
2,Male,16,2.9,49,8.5,72.2,No,Yes,False
3,Male,31,2.8,49,6.4,63.0,No,Yes,False
4,Male,15,3.1,49,10.5,49.0,No,Yes,False

In [9]:
data_sementara.to_csv('duplikasi.csv', index=False)